*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------header----------------------*/
.banner{
    background-image: url(./image/technology.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: 30%;
    background-attachment: fixed;

}
header{
    background-color:black ;
}

/*---------------------------------navigation bar-----------------------------*/

nav{
    display: flex;
    background-color: #333 ;
    
    
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-family: cursive;
    float: left;
}
.flex-align-right{
    margin-left: auto;
    margin-right: 15px;

}

.menu-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);

}

/*-------------universal heading---------------*/

section h2{
    text-align: center;
    padding: 40px;
    font-size: 2em;
        
}
section h2 span{
    background-color: cadetblue;
    padding: 10px 55px;
    border-radius: 20px;
}

/*-----------------carousel cell---------------------*/ 
  .carousel-cell {
    width: 78%;
    height: 18em;
    margin-right: 10px;
    border-radius: 5px;
    padding: 3em;
    text-align: center;
    }
  .carousel-cell h3{
      
      font: 1.4em "Fira Sans", sans-serif;
      font-weight: 700;
      margin-bottom: 1em;     
      
  }

  .ab{
    
    font: 0.7em "Fira Sans", sans-serif;
    margin-bottom: 1em;
}  

.carousel button{

    background-color: rgb(122, 206, 126);
    
}

.carousel #myBtn{

    background-color: rgb(219, 233, 94);
    font-size: 20px;
    border-radius: 10px;
    margin-top: 2em;
    padding: .6em;
    
}

.carousel #myBtn:hover {
    transform: scale(1.2);
}


  #cell1{
    background-image: url("image/img_avatar.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    color: lavender;
    font: italic 1.6em "Fira Sans", serif;
  }

  #cell2{

    background-image: url("image/ocean.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
    color: lavender;
    font: italic 1.6em "Fira Sans", serif;

  }

  #cell3{
    background-image: url("image/smash-3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
    color: lavender;
    font: italic 1.6em "Fira Sans", serif;
  }

  #cell4{

    background-image: url("image/adc.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
    color: lavender;
    font: italic 1.6em "Fira Sans", serif;

  }
  #cell5{
    background-image: url("image/sav.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
    color: lavender;
    font: italic 1.6em "Fira Sans", serif;
  }

  /*--------------------add a new blog---------------------*/
  

section form {
    background-image: url("image/background.jpg");
    background-color: #cccccc;
    min-height: 710px;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 2em;
}



.abcd label {
    color: #cccccc;
    font-size: 1.8rem;
    margin-bottom: 0.8em;
    font-weight: 600;
}

.abcd_content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    margin: auto;
    padding: 2rem;
    padding-left: 2em;
    font-weight: 500;
}

.abcd input,
.abcd textarea {
    text-align: left;
    font-size: 1.2em;
    width: 100%;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: .5rem;
    margin-bottom: 0.8em;
}

.abcd #publish1 {
    background-color: rgba(215, 228, 102, 0.794);
    font-size: 1.5rem;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-decoration: none;
    align-self: center;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 0.8em;
}
.abcd #publish1:hover{
    transform: scale(1.2);
}

 /* ------------------------Archive and Categories------------------------------- */

.container {
    display: grid;
    background-image: url("image/sample.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    margin-top: 2em;
    text-decoration: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}

#arch li,
#categ li {
    list-style: none;
}

.item ul a {
    text-decoration: none;
    color: whitesmoke;
    /* padding: 1.2em; */
    font-size: 2.3em;
    
}

.item ul {
    text-decoration: none;
    text-align: center;
}

.item ul a:hover{
    transform: scale(1.2);
    color: black;
}

/*------------------footer------------------*/

.footer {
    display: flex;
    align-content: center;
    color: whitesmoke;
    background-color: rgb(101, 186, 235);
    height: 2.5em;
    max-width: 100vw;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 5px;
    margin-top: 5px;
}
.menu-btn {
    text-align: center;
    justify-content: center;
}
.menu-btn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    
}
 


@media screen and (max-width: 700px) {
    nav,footer{
        flex-direction: column;
        padding: 10px 0px;
        text-align: center;
    }
    .flex-align-right{
        margin-left: 0;
    
    }
    
}



